<h1>{{ ( heroe.id ) ? 'Editar' : 'New' }}</h1>
<h2><small>{{heroe.superhero}}</small></h2>

<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutGap="40px">
    
    <div fxFlex="50" fxLayout="column">
    
        <div fxLayout="row"
             fxLayout.xs="column"
             fxLayoutGap="20px">

            <mat-form-field fxFlex="50">
                <mat-label>Super hero</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="heroe.superhero"
                       required>
            </mat-form-field>
    
            <mat-form-field fxFlex="50">
                <mat-label>Alter ego</mat-label>
                <input matInput
                       type="text"
                       [(ngModel)]="heroe.alter_ego"
                       required>
            </mat-form-field>
    
        </div>

        <mat-form-field>
            <mat-label>First appearance</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="heroe.first_appearance"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Characters</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="heroe.characters"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Creator</mat-label>
            <mat-select [(ngModel)]="heroe.publisher" required>
                <mat-option *ngFor="let element of publishers"
                            [value]="element.id">
                    {{element.desc}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Photo url</mat-label>
            <input matInput
                   type="url"
                   [(ngModel)]="heroe.alt_img"
                   required>
        </mat-form-field>

        <br>

        <div fxLayout fxLayoutGap="20px">
            <button mat-raised-button
                    class="mySave"
                    (click)="save()">
                <mat-icon>save</mat-icon>
                {{ ( heroe.id )? 'Update': 'Create'}}
            </button>

            <span class="spacer"></span>

            <button *ngIf="heroe.id"
                    (click)="delete()"
                    mat-raised-button
                    color="warn">
                <mat-icon>delete</mat-icon>
                Delete
            </button>

            <button mat-raised-button
                    class="goBack"
                    (click)="goBack()">
                Go back
            </button>
        </div>

    </div>

    <div fxFlex="50">
        <img [src]="heroe | imagen">
    </div>

</div>